<!DOCTYPE html>
<html>
<head>
    <title>APSA Control</title>
</head>
<body>
    <h1>APSA Power Control</h1>

    <!-- Output 1 -->
    <button onclick="fetch('/output_1/on')">Turn On Output 1</button>
    <button onclick="fetch('/output_1/off')">Turn Off Output 1</button><br><br>

    <!-- Output 2 -->
    <button onclick="fetch('/output_2/on')">Turn On Output 2</button>
    <button onclick="fetch('/output_2/off')">Turn Off Output 2</button><br><br>

    <!-- Output 3 -->
    <button onclick="fetch('/output_3/on')">Turn On Output 3</button>
    <button onclick="fetch('/output_3/off')">Turn Off Output 3</button><br><br>

    <!-- Output 4 -->
    <button onclick="fetch('/output_4/on')">Turn On Output 4</button>
    <button onclick="fetch('/output_4/off')">Turn Off Output 4</button><br><br>

    <!-- Output 5 -->
    <button onclick="fetch('/output_5/on')">Turn On Output 5</button>
    <button onclick="fetch('/output_5/off')">Turn Off Output 5</button><br><br>

    <!-- Output 6 -->
    <button onclick="fetch('/output_6/on')">Turn On Output 6</button>
    <button onclick="fetch('/output_6/off')">Turn Off Output 6</button><br><br>

    <!-- Output 7 -->
    <button onclick="fetch('/output_7/on')">Turn On Output 7</button>
    <button onclick="fetch('/output_7/off')">Turn Off Output 7</button><br><br>

    <!-- Output 8 -->
    <button onclick="fetch('/output_8/on')">Turn On Output 8</button>
    <button onclick="fetch('/output_8/off')">Turn Off Output 8</button><br><br>

</body>
</html>
